body {
    background: rgb(110, 224, 148);
    font-family: 'Nunito', sans-serif;
  } 

  /* General text color and font*/
p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 115%;
    color:#0D1A26;
  }
  
  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 350%;
    color:#4c8bb3;
    margin:5% auto 0px 10%;
  }
  
  h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 180%;
    color:#03588c;
    margin:5% 10% 0px 10%;
  }
  
  /* Introduction Text Alignment */
  #introduction p {
    margin: auto 50% 10% 10%;
    font-size: 180%;
  }
  
 

  /* Background section paragraph text alignment */
  #backgroundinfo p {
    margin:0 10% 0px 33%;
  }

  img {
   
    border: 45px solid #5c7196;
  border-radius: 45px;
  padding: 20px;
  max-width: 20%;
  height: auto;
  border-radius:50%;
  }
  
  
  /* Skills section paragraph text alignment */
  #skills p {
    margin:0 10% 0px 33%;
  }